[submodule "Avanade - Programação C# com CRM Dynamics/dio-lab-open-source"]
	path = "Avanade - Programação C# com CRM Dynamics/dio-lab-open-source"
	url = git@github.com:pedrofonsecapadilha/dio-lab-open-source.git
